@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: "Nunito", sans-serif;
}

:root{
    --text-color: #fff;
    --main-bg: #f24f13e4;
    --sub-color: #f4d7e4d2;
    --main-color: #1f291b;
}

html {
    overflow-x: hidden;
    font-size: 62.5%;
}

body{
    color: var(--text-color);
}

section{
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}
.header_section {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding:2rem 9%;
    background: #f24f13a9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;    
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
.logo{
    font-size: 2.5rem;
    color: #fff;
    font-weight: 700;
    cursor: default;
    animation-name: fromRight;
    animation-duration: .4s;
    animation-timing-function: ease-in;
    /* animation-iteration-count: 3; */
    animation-fill-mode: backwards;
}
.navbar a{
    font-size: 1.5rem;
    font-weight: 600;
    color: #fff;
    margin-left: 4rem;
    transition: .5s ease;
}
.navbar a:hover,
.navbar a.active{
    color: #111;
}
#icon{
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;
}
.home_section{
    justify-content: center;
    display: flex;
    align-items: center;
    background-image:linear-gradient(to right bottom, var(--main-bg), #f1996da8), url(../media/pic1.jpg);
    background-size: contain;
    background-position: center;
    position: relative;
    /* clip-path: polygon(0 0,100% 0,100% 90vh,0 100%); */
}
.home_content h3{
    font-size: 3.2rem;
    font-weight: 700;
    text-shadow: 0 5px 20px #ffffff5e;
    animation-name: slideInFromLeft;
    animation-duration: .9s;
    animation-timing-function: ease-in;
}
.home_content h3:nth-of-type(2){
    margin-bottom: 2rem;
}
span{
    color: #111;
}
.home_content h1{
    line-height: 1.3;
    font-weight: 700;
    font-size: 4.9rem;
    text-shadow: 0 5px 20px #ffffff5e;
    animation-name: fromRight;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-fill-mode: backwards;
}
.home_image img{
    /* height: 35vw; */
    width: 30vw;
    border-radius: 50%;
    animation: floatimage 4s ease-in-out infinite;
    /* margin-bottom: 5px; */
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
@keyframes floatimage {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-2.4rem);
    }
    100%{
        transform: translateY(0);
    }
}
.home_content p{
    font-size: 1.6rem;
}
.social_handles a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid var(--text-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--main-color);
    margin:3rem 1.5rem 3rem 0;
    transition: .5s ease;
}
.social_handles a:hover{
    background: var(--text-color);
    color: var(--main-bg);
    box-shadow: 0 0 1 var(--text-color);
}
.social_handles a:first-child{
    animation: formbuttom .2s ease-out .75s backwards;
}
.social_handles a:last-child{
    animation: formbuttom .6s ease-out .75s backwards;
}
.social_handles a:nth-of-type(3){
    animation: formbuttom .4s ease-out .75s backwards;
}
.social_handles a:nth-of-type(2){
    animation: formbuttom .3s ease-out .75s backwards;
}
.social_handles a:nth-of-type(4){
    animation: formbuttom .5s ease-out .75s backwards;
}
.btn{
    display: inline-block;
    padding: 1rem 2.8rem;
    background-color: #fff;
    border-radius: 4rem;
    box-shadow: 0 0 1 var(--main-bg);
    font-size: 1.6rem;
    color: var(--main-bg);
    letter-spacing: .1rem;
    font-weight: 600;
    transform-origin: .5s ease;

}
#tigo{
    color: var(--main-bg);
    background-color: #fff;
    padding: 5px;
    border-radius: 70px;
    margin-right: 5px;
}
.btn:link, 
.btn:visited {
    transition: all .3s;
    animation: formbuttom .8s ease-out .75s backwards;
}
.btn:hover {
    box-shadow: none;
    transform: translateY(-2px);
    box-shadow: 0 5px 20px #ffff;
}
.btn:active{
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}
@keyframes slideInFromLeft {
    0%{
        opacity: 0;
        transform: translateX(-100px);
    }
    100%{
        opacity: 1;
        transform: translate(0);
    }
}
@keyframes fromRight {

      0%{
        opacity: 0;
        transform: translateX(100px);
    }
    100%{
        opacity: 1;
        transform: translate(0);
    }
}
@keyframes formbuttom {
    0%{
        opacity: 0;
        transform: translateY(100px);
    }

    100%{
        opacity: 1;
        transform: translate(0);
    }
    
}
.about_section{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background-image:linear-gradient(to  bottom, rgba(228, 212, 206, 0.822),var(--text-color) ), url(../media/software.jpg);
    background-size: cover;    
    background-position: center;
}
.btn_extra{
    background: var(--main-bg);
    color: var(--text-color);
    margin-top: 2rem;
  /* box  -shadow: 0 5px 10px rgba(0,0,0,.2); */
}
.about_content h2{
    text-align: left;
    line-height: 1.2rem;
    color: var(--main-bg);
}
.about_content p{
    color: var(--main-bg);
    font-size: 1.6rem;

}
.sect_image img {
    width: 30vw;
    /* clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 50% 100%, 0% 80%) */
    clip-path: circle(50% at 50% 50%);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    animation: floatimage 4s ease-in-out infinite;
}
.heading{
    align-items: center;
    font-size: 4.5rem;
    text-shadow: 5px 5px 10px rgb(183, 144, 144);
}
.about_content h3{
    font-size: 2.6rem;
    margin: 2rem 0 3rem;
    text-shadow: 0 5px 20px var(--main-bg);
}
.service_section .heading {
    color: var(--main-bg);
}
.service_section h2{
    margin-bottom: 5rem;
}
.service_container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}
.service_container .service_box{
    flex: 1 1 30rem;
    background: var(--main-bg);
    padding: 2rem 3rem 4rem;
    border-radius: 2rem;
    text-align: center;
    border: .2rem solid var(--sub-color);
    transition: .5s ease;
}
.service_container .service_box:hover{
    border-color: #000;
    transform: scale(1.05);
}
.service_box i{
    font-size: 7rem;
}
.service_box h3{
    font-size: 2.6rem;
}
.service_box p{
    font-size: 1.6rem;
    margin: 1rem 0 3rem;
}